

h1{
    text-align: center;
}

#reset{
    text-align: center;
}

#container{
    display:flex;
    height: 800px;
    flex-direction: column;
}


#child{
    display:flex;
    flex:1;
    margin-right: 10px;
    border-color: blue;
}

#gchild{
    flex:1;
    background-color:black;
}

div.gchild:hover{
background-color: white;
}

button{
    display: flex;
    justify-content: center;
}

#pagewrapper{

}

body{
    background-color: #92a8d1;
}